.home-page {
}

.home-content {
  padding: 3em;
  background-color: beige;
  border: 2px solid ghostwhite;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 5px #a0a0a0, inset 0px 10px 27px -8px #141414,
    5px 5px 7px 5px rgba(66, 66, 66, 0);
}

.main-header {
  border: 1px solid black;
  border-radius: 5px;
}
.text-area {
}

.contact-button {
}

/*  general css */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
